[data-scope='pagination'][data-part='root'] {
  display: flex;
  align-items: center;
  gap: 4px;
}

[data-scope='pagination'][data-part$='-trigger'],
[data-scope='pagination'][data-part='item'] {
  min-width: 24px;
  min-height: 24px;
  padding-inline: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: inherit;
  text-decoration: none;
  font-weight: 500;

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &[data-selected] {
    background-color: aqua;
  }

  &:active {
    filter: brightness(0.9);
  }

  & svg {
    width: 1.2em;
    height: 1.2em;
  }
}
