[data-scope='toggle-group'][data-part='root'] {
  display: flex;
  gap: 1rem;
}

[data-scope='toggle-group'][data-part='item'] {
  border: 1px solid #ccc;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &[data-state='on'] {
    border-color: blue;
  }
}
