---
import '@fontsource/inter'
import { Container } from '../../panda/jsx'
import Header from '../components/Header.astro'
import '../index.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Ark UI</title>
  </head>
  <body>
    <Header />
    <!-- <aside>
      <Sidebar />
    </aside> -->
    <Container>
      <main>
        <slot />
      </main>
    </Container>
  </body>
  <!-- <Footer /> -->
</html>
