---
import '@fontsource/inter'
import { css, globalCss } from '../../panda/css'
import { container } from '../../panda/patterns'

import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import '../index.css'

globalCss({
  '*': {
    fontFamily: 'InterVariable, sans-serif',
  },
})
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ark UI</title>
  </head>
  <body
    class={css({
      backgroundColor: { value: { base: '#ffffff', dark: '#141414' } },
      color: { value: { base: '#141414', dark: '#ffffff' } },
    })}
  >
    <Header />
    <aside>
      <Sidebar />
    </aside>
    <div class={container({})}>
      <main>
        <slot />
      </main>
    </div>
  </body>
  <Footer />
</html>
