---
import '@fontsource/inter'
import { css, globalCss } from '../../panda/css'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Sidebar from '../components/Sidebar.astro'
import '../index.css'

globalCss({
  '*': {
    fontFamily: 'InterVariable, sans-serif',
  },
})
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ark UI</title>
  </head>
  <body>
    <Header />
    <aside>
      <Sidebar />
    </aside>
    <main
      class={css({
        bg: 'green.600',
        padding: '40px',
        color: 'white',
        fontSize: '50px',
      })}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
