---
import '@fontsource/inter/variable.css'
import { css } from '../../panda/css'
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import '../index.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Ark UI</title>
  </head>
  <body>
    <div
      class={css({
        display: 'flex',
        flexDirection: 'column',
        minHeight: '100%',
      })}
    >
      <Navbar />
      <slot />
    </div>
    <Footer />
  </body>
</html>
