[data-scope='menu'][data-part='content'] {
  margin: 0;
  width: 160px;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.25rem;
  border: 1px solid lightgray;
  list-style-type: none;
}

[data-scope='menu'][data-part*='item'] {
  all: unset;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  color: rebeccapurple;
  display: flex;
  align-items: center;
  height: 2rem;
  position: relative;
  user-select: none;
  border-radius: 3px;
  padding: 0 0.25rem 0 1rem;
}

[data-scope='menu'][data-part*='item'][data-focus] {
  outline: none;
  background-color: rebeccapurple;
  color: white;
}

[data-scope='menu'][data-part*='item'][data-disabled] {
  opacity: 0.4;
}

[data-scope='menu'][data-part='separator'] {
  width: 100%;
  border: 0;
  border-top: 1px solid rgb(189, 189, 189);
}

[data-scope='menu'][data-part='label'] {
  display: block;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-weight: 600;
}
