---
import { Container, Stack } from '../../panda/jsx'
import Sidebar from '../components/Sidebar.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <Container>
    <Stack gap="16" direction="row">
      <Sidebar />
      <main>
        <h1>Components overview</h1>
      </main>
    </Stack>
  </Container>
</BaseLayout>
