---
import { css } from '../../panda/css'
import { ButtonGroup } from '../components/Button'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <!-- <div class={cx(container({}))}> -->
  <div class={css({ px: '24px' })}>
    <h1>Button</h1>
    <ButtonGroup />
  </div>
</BaseLayout>
