---
import { css, cx } from '../../panda/css'
import { stack } from '../../panda/patterns'
import { Button } from '../components/Button'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <!-- <div class={cx(container({}))}> -->
  <div class={css({ px: '24px' })}>
    <h1>Button</h1>
    <div class={cx(stack({ gap: '2' }))}>
      <Button variant="primary" size="sm">Button</Button>
      <Button variant="primary" size="md">Button</Button>
      <Button variant="primary" size="lg">Button</Button>
      <Button variant="primary" size="xl">Button</Button>
      <Button variant="primary" size="2xl">Button</Button>
    </div>
  </div>
</BaseLayout>
