{
	"printWidth": 100,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "always",
	"semi": false,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.mdx",
			"options": {
				"printWidth": 80,
				"proseWrap": "always"
			}
		}
	]
}
