@layer base {
  :root {
    --made-with-panda: '🐼';
  }

  *,
  ::before,
  ::after,
  ::backdrop {
    --blur: /*-*/ /*-*/;
    --brightness: /*-*/ /*-*/;
    --contrast: /*-*/ /*-*/;
    --grayscale: /*-*/ /*-*/;
    --hue-rotate: /*-*/ /*-*/;
    --invert: /*-*/ /*-*/;
    --saturate: /*-*/ /*-*/;
    --sepia: /*-*/ /*-*/;
    --drop-shadow: /*-*/ /*-*/;
    --backdrop-blur: /*-*/ /*-*/;
    --backdrop-brightness: /*-*/ /*-*/;
    --backdrop-contrast: /*-*/ /*-*/;
    --backdrop-grayscale: /*-*/ /*-*/;
    --backdrop-hue-rotate: /*-*/ /*-*/;
    --backdrop-invert: /*-*/ /*-*/;
    --backdrop-opacity: /*-*/ /*-*/;
    --backdrop-saturate: /*-*/ /*-*/;
    --backdrop-sepia: /*-*/ /*-*/;
    --gradient-from-position: /*-*/ /*-*/;
    --gradient-to-position: /*-*/ /*-*/;
    --gradient-via-position: /*-*/ /*-*/;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
  }

  html {
    --colors-color-palette-1: var(--colors-neutral-1);
    --colors-color-palette-2: var(--colors-neutral-2);
    --colors-color-palette-3: var(--colors-neutral-3);
    --colors-color-palette-4: var(--colors-neutral-4);
    --colors-color-palette-5: var(--colors-neutral-5);
    --colors-color-palette-6: var(--colors-neutral-6);
    --colors-color-palette-7: var(--colors-neutral-7);
    --colors-color-palette-8: var(--colors-neutral-8);
    --colors-color-palette-9: var(--colors-neutral-9);
    --colors-color-palette-10: var(--colors-neutral-10);
    --colors-color-palette-11: var(--colors-neutral-11);
    --colors-color-palette-12: var(--colors-neutral-12);
    --colors-color-palette-a1: var(--colors-neutral-a1);
    --colors-color-palette-a2: var(--colors-neutral-a2);
    --colors-color-palette-a3: var(--colors-neutral-a3);
    --colors-color-palette-a4: var(--colors-neutral-a4);
    --colors-color-palette-a5: var(--colors-neutral-a5);
    --colors-color-palette-a6: var(--colors-neutral-a6);
    --colors-color-palette-a7: var(--colors-neutral-a7);
    --colors-color-palette-a8: var(--colors-neutral-a8);
    --colors-color-palette-a9: var(--colors-neutral-a9);
    --colors-color-palette-a10: var(--colors-neutral-a10);
    --colors-color-palette-a11: var(--colors-neutral-a11);
    --colors-color-palette-a12: var(--colors-neutral-a12);
    --colors-color-palette-solid-bg: var(--colors-neutral-solid-bg);
    --colors-color-palette-solid-bg-hover: var(--colors-neutral-solid-bg-hover);
    --colors-color-palette-solid-fg: var(--colors-neutral-solid-fg);
    --colors-color-palette-subtle-bg: var(--colors-neutral-subtle-bg);
    --colors-color-palette-subtle-bg-hover: var(--colors-neutral-subtle-bg-hover);
    --colors-color-palette-subtle-bg-active: var(--colors-neutral-subtle-bg-active);
    --colors-color-palette-subtle-fg: var(--colors-neutral-subtle-fg);
    --colors-color-palette-surface-bg: var(--colors-neutral-surface-bg);
    --colors-color-palette-surface-bg-hover: var(--colors-neutral-surface-bg-hover);
    --colors-color-palette-surface-bg-active: var(--colors-neutral-surface-bg-active);
    --colors-color-palette-surface-border: var(--colors-neutral-surface-border);
    --colors-color-palette-surface-border-hover: var(--colors-neutral-surface-border-hover);
    --colors-color-palette-surface-fg: var(--colors-neutral-surface-fg);
    --colors-color-palette-outline-bg-hover: var(--colors-neutral-outline-bg-hover);
    --colors-color-palette-outline-bg-active: var(--colors-neutral-outline-bg-active);
    --colors-color-palette-outline-border: var(--colors-neutral-outline-border);
    --colors-color-palette-outline-fg: var(--colors-neutral-outline-fg);
    --colors-color-palette-plain-bg-hover: var(--colors-neutral-plain-bg-hover);
    --colors-color-palette-plain-bg-active: var(--colors-neutral-plain-bg-active);
    --colors-color-palette-plain-fg: var(--colors-neutral-plain-fg);
  }

  * {
    --global-color-border: var(--colors-border);
    --global-color-placeholder: var(--colors-fg-subtle);
    --global-color-selection: var(--colors-color-palette-subtle-bg);
    --global-color-focus-ring: var(--colors-color-palette-solid-bg);
  }

  body {
    background: var(--colors-canvas);
    color: var(--colors-fg-default);
  }
}
