@import './recipes/group.css';
@import './recipes/button.css';
@import './recipes/icon.css';
@import './recipes/spinner.css';
@import './recipes/absolute-center.css';
@import './recipes/skeleton.css';
@import './recipes/accordion.css';
@import './recipes/alert.css';
@import './recipes/avatar.css';
@import './recipes/badge.css';
@import './recipes/breadcrumb.css';
@import './recipes/menu.css';
@import './recipes/card.css';
@import './recipes/input.css';
@import './recipes/carousel.css';
@import './recipes/checkbox.css';
@import './recipes/link.css';
@import './recipes/input-group.css';
@import './recipes/code.css';
@import './recipes/combobox.css';
@import './recipes/dialog.css';
@import './recipes/drawer.css';
@import './recipes/editable.css';
@import './recipes/file-upload.css';
@import './recipes/input-addon.css';
@import './recipes/kbd.css';
@import './recipes/number-input.css';
@import './recipes/pin-input.css';
@import './recipes/textarea.css';
@import './recipes/progress.css';
@import './recipes/radio-card-group.css';
@import './recipes/radio-group.css';
@import './recipes/rating-group.css';
@import './recipes/scroll-area.css';
@import './recipes/segment-group.css';
@import './recipes/select.css';
@import './recipes/slider.css';
@import './recipes/switch-recipe.css';
@import './recipes/table.css';
@import './recipes/tabs.css';
@import './recipes/tags-input.css';
@import './recipes/toggle-group.css';