[data-scope='checkbox'][data-part='root'] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

[data-scope='checkbox'][data-part='group'] {
  display: flex;
  gap: 24px;
}

[data-scope='checkbox'][data-part='control'] {
  border: 2px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  &[data-invalid] {
    border-color: red;
  }

  &[data-disabled] {
    opacity: 0.5;
  }
}

[data-scope='checkbox'][data-part='indicator']:not([hidden]) {
  display: flex;
  align-items: center;
  justify-content: center;
}
