[data-scope='tags-input'][data-part='tag'] {
  background-color: gainsboro;
  border-radius: 4px;
  padding: 0 8px;
  display: inline-block;
  margin-right: 8px;
}

[data-scope='tags-input'][data-part='tag'][data-selected] {
  background-color: aqua;
}
