[data-part='root'] {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  gap: 8px;
}

[data-part='control'] {
  border: 2px solid;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

[data-part='control'][data-checked] {
  background: black;
  color: white;
}

[data-part='control'][data-indeterminate] {
  background: blue;
  color: white;
}
