[data-part='content'] {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

[data-part='content'][data-state='open'] {
  grid-template-rows: 1fr;
}

[data-part='inner-content'] {
  overflow: hidden;
}
