---
import { Github } from 'lucide-react'
import { css, cx } from 'styled-system/css'
import { Flex, HStack } from 'styled-system/jsx'
import { button } from 'styled-system/recipes'
import { ColorModeButton } from '../color-mode-button'
import Logo from '../logo.astro'
---

<nav role="navigation" class={css({ position: 'sticky', top: '0', zIndex: 'docked' })}>
  <Flex justify="center" align="center">
    <HStack
      background="bg.default"
      borderRadius="l2"
      boxShadow="xs"
      gap="10"
      justify="space-between"
      h="12"
      px="3"
      mt={{ base: '6', md: '10' }}
    >
      <a href="/" aria-label="Back home">
        <Logo />
      </a>
      <HStack gap="8">
        <a
          href="/docs/react/overview/introduction"
          class={css({
            textStyle: 'sm',
            fontWeight: 'medium',
            color: 'fg.emphasized',
            _hover: {
              color: 'fg.default',
              fontWeight: 'semibold',
            },
          })}
        >
          Docs
        </a>
        <a
          href="https://ark-ui.canny.io/"
          target="_blank"
          class={css({
            textStyle: 'sm',
            fontWeight: 'medium',
            color: 'fg.emphasized',
            _hover: {
              color: 'fg.default',
              fontWeight: 'semibold',
            },
          })}
        >
          Roadmap
        </a>
      </HStack>
      <HStack gap="1">
        <a
          href="https://github.com/chakra-ui/ark"
          class={cx(css({ px: 0 }), button({ variant: 'tertiary', size: 'sm' }))}
        >
          <Github />
        </a>
        <!-- <ColorModeButton size="sm" client:load /> -->
      </HStack>
    </HStack>
  </Flex>
</nav>
