[data-scope='select'][data-part='root'] {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

[data-scope='select'][data-part='content'][data-state='open'] {
  animation: fadeIn 0.25s ease-out;
}

[data-scope='select'][data-part='content'][data-state='closed'] {
  animation: fadeOut 0.2s ease-in;
}

[data-scope='select'][data-part='content'] {
  border: 1px solid gainsboro;
  background: white;
  padding: 12px;
}

[data-scope='select'][data-part='item'] {
  display: flex;
  justify-content: space-between;
}

[data-scope='select'][data-part='item'][data-disabled] {
  color: silver;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
