[data-scope='toast'][data-part='root'] {
  padding: 8px 12px;
  background: white;
  box-shadow:
    0 3px 10px rgba(0, 0, 0, 0.1),
    0 3px 3px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

[data-scope='toast'][data-part='root'][data-state='open'] {
  animation: toast-enter 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

[data-scope='toast'][data-part='root'][data-state='closed'] {
  animation: toast-exit var(--remove-delay) forwards cubic-bezier(0.06, 0.71, 0.55, 1);
}

[data-scope='toast'][data-part='root'][data-type='success'] {
  background: green;
  color: white;
}

@keyframes toast-enter {
  from {
    transform: translate3d(0, 200%, 0) scale(0.6);
    opacity: 0.5;
  }
  to {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes toast-exit {
  from {
    transform: translate3d(0, 0, -1px) scale(1);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 150%, -1px) scale(0.6);
    opacity: 0;
  }
}
