---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource-variable/fira-code'
import '@fontsource-variable/inter'
---

<html lang="en">
  <head>
    <title>Ark UI</title>
    <meta charset="utf-8" />
    <meta name="description" content="A headless component library for building reusable, scalable design systems that works for a wide range of JS frameworks.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Headless,Components,React,Solid,Vue">
    <meta property="og:title" content="Ark UI" />
    <meta property="og:description" content="A headless component library for building reusable, scalable design systems that works for a wide range of JS frameworks." />
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://ark-ui.com/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@ark_ui_">
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script defer data-domain="ark-ui.com" src="https://plausible.io/js/script.js" />
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <script is:inline>
      if (JSON.parse(window.localStorage.getItem('ark-ui-color-mode')) === 'dark') {
        document.documentElement.classList.add('dark')
      }
    </script>
  </body>
</html>
