---
import { ViewTransitions } from 'astro:transitions'
import '@fontsource-variable/fira-code'
import '@fontsource-variable/inter'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <script is:inline>
      if (JSON.parse(window.localStorage.getItem('ark-ui-color-mode')) === 'dark') {
        document.documentElement.classList.add('dark')
      }
    </script>
  </body>
</html>
