[data-scope='popover'][data-part='content'] {
  background: white;
  padding: 16px;
  border-radius: 4px;
  position: relative;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  min-width: 240px;
}
[data-scope='popover'][data-part='content'][data-state='open'] {
  animation: fadeIn 0.25s ease-out;
}

[data-scope='popover'][data-part='content'][data-state='closed'] {
  animation: fadeOut 0.2s ease-in;
}

[data-scope='popover'][data-part='title'] {
  font-weight: bold;
}

[data-scope='popover'][data-part='close-trigger'] {
  position: absolute;
  right: 4px;
  top: 4px;
}

[data-scope='popover'][data-part='anchor'] {
  display: inline;
  margin-left: 200px;
}

[data-scope='popover'][data-part='indicator'][data-state='open'] {
  rotate: 90deg;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
