@layer recipes {
  @layer _base {
    .absolute-center {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
}
}

  .absolute-center--axis_both {
    inset-inline-start: 50%;
    translate: -50% -50%;
    top: 50%;
}

  :where([dir=rtl], :dir(rtl)) .absolute-center--axis_both {
    translate: 50% -50%;
}

  .absolute-center--axis_horizontal {
    inset-inline-start: 50%;
    translate: -50%;
}

  :where([dir=rtl], :dir(rtl)) .absolute-center--axis_horizontal {
    translate: 50%;
}

  .absolute-center--axis_vertical {
    translate: 0 -50%;
    top: 50%;
}
}