@layer recipes.slots {
  @layer _base {
    .accordion__root {
      --accordion-radius: var(--radii-l2);
      width: var(--sizes-full);
}

    .accordion__item {
      overflow-anchor: none;
}

    .accordion__itemTrigger {
      border-radius: var(--accordion-radius);
      gap: var(--spacing-3);
      align-items: center;
      color: var(--colors-fg-default);
      cursor: pointer;
      display: flex;
      font-weight: var(--font-weights-semibold);
      justify-content: space-between;
      text-align: start;
      font-size: var(--font-sizes-lg);
      line-height: 1.75rem;
      width: var(--sizes-full);
}

    .accordion__itemTrigger:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
      cursor: not-allowed;
      opacity: 0.67;
      filter: grayscale(100%);
}

    .accordion__itemTrigger:is(:focus-visible, [data-focus-visible]) {
      outline: 2px solid;
      outline-color: colorPalette.focusRing;
}

    .accordion__itemContent {
      overflow: hidden;
      border-radius: var(--accordion-radius);
}

    .accordion__itemContent:is([open], [data-open], [data-state="open"], :popover-open) {
      animation-name: expand-height, fade-in;
      animation-duration: var(--durations-normal);
}

    .accordion__itemContent:is([closed], [data-closed], [data-state="closed"]) {
      animation-name: collapse-height, fade-out;
      animation-duration: var(--durations-normal);
}

    .accordion__itemIndicator {
      transition: rotate 0.2s;
      transform-origin: center;
      color: var(--colors-fg-subtle);
}

    .accordion__itemIndicator:is([open], [data-open], [data-state="open"], :popover-open) {
      rotate: 180deg;
}

    .accordion__itemIndicator :where(svg) {
      width: 1.2em;
      height: 1.2em;
}

    .accordion__itemBody {
      color: var(--colors-fg-muted);
      padding-bottom: calc(var(--accordion-padding-y) * 2);
}
}

  .accordion__root--size_md {
    --accordion-padding-x: var(--spacing-4);
    --accordion-padding-y: var(--spacing-2\.5);
}

  .accordion__itemTrigger--size_md {
    padding-block: var(--accordion-padding-y);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
}

  .accordion__item--variant_outline {
    border-bottom-width: 1px;
}
}