@layer recipes.slots {
  @layer _base {
    [data-scope="avatar"][data-part="root"] {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: var(--font-weights-medium);
      position: relative;
      vertical-align: top;
      flex-shrink: 0;
      -webkit-user-select: none;
      user-select: none;
      font-size: var(--avatar-font-size);
      width: var(--avatar-size);
      height: var(--avatar-size);
}

    [data-scope="avatar"][data-part="root"],[data-scope="avatar"][data-part="image"] {
      border-radius: var(--avatar-radius);
}

    [data-scope="avatar"][data-part="image"] {
      object-fit: cover;
      width: 100%;
      height: 100%;
}

    [data-scope="avatar"][data-part="fallback"] {
      border-radius: var(--avatar-radius);
      line-height: 1;
      text-transform: uppercase;
      font-weight: var(--font-weights-medium);
      font-size: var(--avatar-font-size);
}
}

  [data-scope="avatar"][data-part="root"] {
    --avatar-radius: var(--radii-full);
}

  [data-scope="avatar"][data-part="root"] {
    background: var(--colors-color-palette-subtle-bg);
    color: var(--colors-color-palette-subtle-fg);
}

  [data-scope="avatar"][data-part="root"] {
    --avatar-font-size: var(--font-sizes-md);
    --avatar-size: var(--sizes-10);
}

  [data-scope="avatar"][data-part="fallback"] :where(svg) {
    width: var(--sizes-5);
    height: var(--sizes-5);
}

}