@layer recipes.slots {
  @layer _base {
    .checkbox__root {
      gap: var(--spacing-2);
      display: inline-flex;
      align-items: center;
      vertical-align: top;
      position: relative;
    }

    .checkbox__root:is(:disabled, [disabled], [data-disabled], [aria-disabled='true']) {
      cursor: not-allowed;
      opacity: 0.67;
      filter: grayscale(100%);
    }

    .checkbox__label {
      font-weight: var(--font-weights-medium);
      -webkit-user-select: none;
      user-select: none;
    }

    .checkbox__control {
      border-width: 1px;
      border-color: transparent;
      border-radius: var(--radii-l1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      cursor: pointer;
      --focus-ring-color: var(--focus-ring-color-prop, var(--global-color-focus-ring, #005fcc));
    }

    .checkbox__control:is(:focus-visible, [data-focus-visible]) {
      outline-width: var(--focus-ring-width, 2px);
      outline-offset: var(--focus-ring-offset, 2px);
      outline-style: var(--focus-ring-style, solid);
      outline-color: var(--focus-ring-color);
    }

    .checkbox__control :where(svg) {
      width: var(--sizes-full);
      height: var(--sizes-full);
    }
  }

  .checkbox__control--variant_solid {
    border-color: var(--colors-border);
  }

  .checkbox__control--variant_solid:is(
    :checked,
    [data-checked],
    [data-state='checked'],
    [aria-checked='true'],
    [data-state='indeterminate']
  ) {
    background: var(--colors-color-palette-solid-bg);
    border-color: var(--colors-color-palette-solid-bg);
    color: var(--colors-color-palette-solid-fg);
  }

  .checkbox__control--variant_solid:is(:user-invalid, [data-invalid], [aria-invalid='true']) {
    background: var(--colors-error);
  }

  .checkbox__root--size_md {
    gap: var(--spacing-3);
  }

  .checkbox__label--size_md {
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
  }

  .checkbox__control--size_md {
    width: var(--sizes-5);
    height: var(--sizes-5);
  }

  .checkbox__control--size_md :where(svg) {
    width: var(--sizes-3\.5);
    height: var(--sizes-3\.5);
  }

  .checkbox__root--size_sm {
    gap: var(--spacing-2);
  }

  .checkbox__label--size_sm {
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
  }

  .checkbox__control--size_sm {
    width: var(--sizes-4\.5);
    height: var(--sizes-4\.5);
  }

  .checkbox__control--size_sm :where(svg) {
    width: var(--sizes-3);
    height: var(--sizes-3);
  }

  .checkbox__root--size_lg {
    gap: var(--spacing-3);
  }

  .checkbox__label--size_lg {
    font-size: var(--font-sizes-lg);
    line-height: 1.75rem;
  }

  .checkbox__control--size_lg {
    width: var(--sizes-5\.5);
    height: var(--sizes-5\.5);
  }

  .checkbox__control--size_lg :where(svg) {
    width: var(--sizes-4);
    height: var(--sizes-4);
  }

  .checkbox__control--variant_surface {
    background: var(--colors-color-palette-surface-bg);
    border-width: 1px;
    border-color: var(--colors-color-palette-surface-border);
    color: var(--colors-color-palette-surface-fg);
  }

  .checkbox__control--variant_subtle {
    background: var(--colors-color-palette-subtle-bg);
    color: var(--colors-color-palette-subtle-fg);
  }

  .checkbox__control--variant_outline {
    border-width: 1px;
    border-color: var(--colors-color-palette-outline-border);
    color: var(--colors-color-palette-outline-fg);
  }

  .checkbox__control--variant_outline:is(
    :checked,
    [data-checked],
    [data-state='checked'],
    [aria-checked='true'],
    [data-state='indeterminate']
  ) {
    border-color: var(--colors-color-palette-solid-bg);
  }

  .checkbox__control--variant_plain {
    color: var(--colors-color-palette-plain-fg);
  }
}
