@layer recipes {
  @layer _base {
    .code {
      border-radius: var(--radii-l2);
      gap: var(--spacing-1);
      align-items: center;
      display: inline-flex;
      font-variant-numeric: tabular-nums;
      font-weight: var(--font-weights-medium);
      font-family: code;
      line-height: 1;
    }
  }

  .code--size_md {
    padding-inline: var(--spacing-1);
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
    height: var(--sizes-5);
    min-width: var(--sizes-5);
  }

  .code--variant_subtle {
    background: var(--colors-color-palette-subtle-bg);
    color: var(--colors-color-palette-subtle-fg);
  }

  .code--variant_solid {
    background: var(--colors-color-palette-solid-bg);
    color: var(--colors-color-palette-solid-fg);
  }

  .code--variant_outline {
    border-width: 1px;
    border-color: var(--colors-color-palette-outline-border);
    color: var(--colors-color-palette-outline-fg);
  }

  .code--variant_surface {
    background: var(--colors-color-palette-surface-bg);
    border-width: 1px;
    border-color: var(--colors-color-palette-surface-border);
    color: var(--colors-color-palette-surface-fg);
  }

  .code--variant_plain {
    color: var(--colors-color-palette-plain-fg);
  }

  .code--size_sm {
    font-size: var(--font-sizes-xs);
    line-height: 1.125rem;
    height: var(--sizes-4\.5);
    min-width: var(--sizes-4\.5);
  }

  .code--size_sm,
  .code--size_lg {
    padding-inline: var(--spacing-1);
  }

  .code--size_lg {
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
    height: var(--sizes-5\.5);
    min-width: var(--sizes-5\.5);
  }

  .code--size_xl {
    padding-inline: var(--spacing-1);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
    height: var(--sizes-6);
    min-width: var(--sizes-6);
  }
}
