@layer recipes.slots {
  @layer _base {
    .drawer__backdrop {
      background: var(--colors-black-a7);
      position: fixed;
      inset-inline-start: var(--spacing-0);
      z-index: var(--z-index-overlay);
      top: var(--spacing-0);
      width: 100vw;
      height: 100dvh;
    }

    .drawer__backdrop:is([open], [data-open], [data-state='open'], :popover-open) {
      animation-name: fade-in;
      animation-timing-function: emphasized-in;
      animation-duration: var(--durations-slow);
    }

    .drawer__backdrop:is([closed], [data-closed], [data-state='closed']) {
      animation-name: fade-out;
      animation-timing-function: emphasized-out;
      animation-duration: var(--durations-normal);
    }

    .drawer__positioner {
      position: fixed;
      inset-inline-start: var(--spacing-0);
      width: 100vw;
      height: 100dvh;
      top: var(--spacing-0);
      overscroll-behavior-y: none;
    }

    .drawer__positioner,
    .drawer__content {
      display: flex;
      z-index: var(--z-index-modal);
    }

    .drawer__content {
      background: var(--colors-gray-surface-bg);
      outline: 0;
      flex-direction: column;
      position: relative;
      color: inherit;
      box-shadow: var(--shadows-lg);
      width: 100%;
      max-height: 100dvh;
    }

    .drawer__content:is([open], [data-open], [data-state='open'], :popover-open) {
      animation-duration: var(--durations-slowest);
      animation-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);
    }

    .drawer__content:is([closed], [data-closed], [data-state='closed']) {
      animation-duration: var(--durations-normal);
      animation-timing-function: cubic-bezier(0.3, 0, 0.8, 0.15);
    }

    .drawer__title {
      color: var(--colors-fg-default);
      font-weight: var(--font-weights-semibold);
      font-size: var(--font-sizes-xl);
      line-height: 1.875rem;
    }

    .drawer__description {
      color: var(--colors-fg-muted);
      font-size: var(--font-sizes-sm);
      line-height: 1.25rem;
    }

    .drawer__closeTrigger {
      position: absolute;
      inset-inline-end: var(--spacing-3);
      top: var(--spacing-3);
    }

    .drawer__header {
      gap: var(--spacing-1);
      padding-inline: var(--spacing-4);
      flex: 0;
      display: flex;
      flex-direction: column;
      padding-top: var(--spacing-4);
      padding-bottom: var(--spacing-4);
    }

    @media screen and (min-width: 48rem) {
      .drawer__header {
        padding-inline: var(--spacing-6);
        padding-top: var(--spacing-6);
      }
    }

    .drawer__body {
      padding: var(--spacing-4);
      flex: 1 1 0%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media screen and (min-width: 48rem) {
      .drawer__body {
        padding: var(--spacing-6);
      }
    }

    .drawer__footer {
      flex: 0;
      gap: var(--spacing-3);
      padding-block: var(--spacing-4);
      padding-inline: var(--spacing-4);
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    @media screen and (min-width: 48rem) {
      .drawer__footer {
        padding-inline: var(--spacing-6);
      }
    }
  }

  .drawer__positioner--placement_end {
    justify-content: flex-end;
    align-items: stretch;
  }

  .drawer__content--placement_end:is([open], [data-open], [data-state='open'], :popover-open) {
    animation-name: slide-from-right-full, fade-in;
  }

  :where([dir='rtl'], :dir(rtl))
    .drawer__content--placement_end:is([open], [data-open], [data-state='open'], :popover-open) {
    animation-name: slide-from-left-full, fade-in;
  }

  .drawer__content--placement_end:is([closed], [data-closed], [data-state='closed']) {
    animation-name: slide-to-right-full, fade-out;
  }

  :where([dir='rtl'], :dir(rtl)) .drawer__content--placement_end:is([closed], [data-closed], [data-state='closed']) {
    animation-name: slide-to-left-full, fade-out;
  }

  .drawer__content--size_sm {
    max-width: var(--sizes-sm);
  }

  .drawer__content--size_xs {
    max-width: var(--sizes-xs);
  }

  .drawer__content--size_md {
    max-width: var(--sizes-md);
  }

  .drawer__content--size_lg {
    max-width: var(--sizes-lg);
  }

  .drawer__content--size_xl {
    max-width: var(--sizes-xl);
  }

  .drawer__content--size_full {
    max-width: 100vw;
    height: 100dvh;
  }

  .drawer__positioner--placement_start {
    justify-content: flex-start;
    align-items: stretch;
  }

  .drawer__content--placement_start:is([open], [data-open], [data-state='open'], :popover-open) {
    animation-name: slide-from-left-full, fade-in;
  }

  :where([dir='rtl'], :dir(rtl))
    .drawer__content--placement_start:is([open], [data-open], [data-state='open'], :popover-open) {
    animation-name: slide-from-right-full, fade-in;
  }

  .drawer__content--placement_start:is([closed], [data-closed], [data-state='closed']) {
    animation-name: slide-to-left-full, fade-out;
  }

  :where([dir='rtl'], :dir(rtl)) .drawer__content--placement_start:is([closed], [data-closed], [data-state='closed']) {
    animation-name: slide-to-right-full, fade-out;
  }

  .drawer__positioner--placement_top {
    justify-content: stretch;
    align-items: flex-start;
  }

  .drawer__content--placement_top {
    max-width: 100%;
  }

  .drawer__content--placement_top:is([open], [data-open], [data-state='open'], :popover-open) {
    animation-name: slide-from-top-full, fade-in;
  }

  .drawer__content--placement_top:is([closed], [data-closed], [data-state='closed']) {
    animation-name: slide-to-top-full, fade-out;
  }

  .drawer__positioner--placement_bottom {
    justify-content: stretch;
    align-items: flex-end;
  }

  .drawer__content--placement_bottom {
    max-width: 100%;
  }

  .drawer__content--placement_bottom:is([open], [data-open], [data-state='open'], :popover-open) {
    animation-name: slide-from-bottom-full, fade-in;
  }

  .drawer__content--placement_bottom:is([closed], [data-closed], [data-state='closed']) {
    animation-name: slide-to-bottom-full, fade-out;
  }
}
