@layer recipes {
  @layer _base {
    .group {
      gap: var(--spacing-2);
      display: inline-flex;
      position: relative;
    }

    .group > *:is(:focus-visible, [data-focus-visible]) {
      z-index: 1;
    }
  }

  .group--orientation_horizontal {
    flex-direction: row;
  }

  .group--attached_true {
    gap: var(--spacing-0);
  }

  .group--grow_true {
    display: flex;
  }

  .group--grow_true > * {
    flex: 1 1 0%;
  }

  .group--orientation_vertical {
    flex-direction: column;
  }
}
