@layer recipes {
  @layer _base {
    .input-addon {
      border-radius: var(--radii-l2);
      flex: 0 0 auto;
      align-items: center;
      align-self: stretch;
      color: var(--colors-fg-muted);
      display: flex;
      white-space: nowrap;
      width: auto;
}
}

  .input-addon--size_md {
    padding-inline: var(--spacing-3);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
}

  .input-addon--size_md :where(svg) {
    width: var(--sizes-5);
    height: var(--sizes-5);
}

  .input-addon--variant_outline {
    border-width: 1px;
    border-color: var(--colors-gray-outline-border);
}

  .input-addon--variant_surface {
    background: var(--colors-gray-surface-bg);
    border-width: 1px;
    border-color: var(--colors-gray-surface-border);
}

  .input-addon--variant_subtle {
    background: var(--colors-gray-subtle-bg);
}

  .input-addon--size_xs {
    padding-inline: var(--spacing-2);
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
}

  .input-addon--size_xs :where(svg) {
    width: var(--sizes-4);
    height: var(--sizes-4);
}

  .input-addon--size_sm {
    padding-inline: var(--spacing-2\.5);
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
}

  .input-addon--size_sm :where(svg) {
    width: var(--sizes-4\.5);
    height: var(--sizes-4\.5);
}

  .input-addon--size_lg {
    padding-inline: var(--spacing-3\.5);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
}

  .input-addon--size_lg :where(svg) {
    width: var(--sizes-5);
    height: var(--sizes-5);
}

  .input-addon--size_xl {
    padding-inline: var(--spacing-4);
    font-size: var(--font-sizes-lg);
    line-height: 1.75rem;
}

  .input-addon--size_xl :where(svg) {
    width: var(--sizes-5\.5);
    height: var(--sizes-5\.5);
}
}