@layer recipes {
  @layer _base {
    .link {
      border-radius: var(--radii-l1);
      gap: var(--spacing-1\.5);
      outline: var(--borders-none);
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      --focus-ring-color: var(--focus-ring-color-prop, var(--global-color-focus-ring, #005fcc));
    }

    .link:is(:focus-visible, [data-focus-visible]) {
      outline-width: var(--focus-ring-width, 2px);
      outline-offset: var(--focus-ring-offset, 2px);
      outline-style: var(--focus-ring-style, solid);
      outline-color: var(--focus-ring-color);
    }

    .link {
      font-weight: var(--font-weights-medium);
      text-decoration-line: underline;
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.125em;
      --transition-duration: var(--durations-normal);
      transition-duration: var(--durations-normal);
      --transition-prop: text-decoration-color;
      transition-property: text-decoration-color;
    }

    .link :where(svg) {
      width: 1em;
      height: 1em;
    }
  }

  .link--variant_underline {
    --mix-textDecorationColor: color-mix(in srgb, var(--colors-color-palette-surface-fg) 60%, transparent);
    text-decoration-color: var(--mix-textDecorationColor, var(--colors-color-palette-surface-fg));
  }

  .link--variant_underline:not(:disabled):hover {
    text-decoration-color: var(--colors-color-palette-surface-fg);
  }

  .link--variant_plain {
    text-decoration-color: transparent;
  }

  .link--variant_plain:not(:disabled):hover {
    text-decoration-color: var(--colors-color-palette-surface-fg);
  }
}
