@layer recipes.slots {
  @layer _base {
    .number-input__root {
      isolation: isolate;
      position: relative;
}

    .number-input__root:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
      cursor: not-allowed;
      opacity: 0.67;
      filter: grayscale(100%);
}

    .number-input__label {
      color: var(--colors-fg-default);
      font-weight: var(--font-weights-medium);
}

    .number-input__input {
      border-radius: var(--radii-l2);
      outline: 0;
      transition-property: var(--transition-prop, color, background-color, border-color, outline-color, text-decoration-color, fill, stroke);
      transition-timing-function: var(--transition-easing, cubic-bezier(0.4, 0, 0.2, 1));
      transition-duration: var(--transition-duration, 150ms);
      appearance: none;
      -webkit-appearance: none;
      position: relative;
      text-align: start;
      vertical-align: top;
      padding-inline-end: calc(var(--stepper-width) + 0.5rem);
      height: var(--input-height);
      min-height: var(--input-height);
      min-width: var(--input-height);
      width: 100%;
}

    .number-input__input:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
      cursor: not-allowed;
      opacity: 0.67;
      filter: grayscale(100%);
}

    .number-input__control {
      margin: 1px;
      border-inline-start-width: 1px;
      display: flex;
}

    .number-input__control > :not([hidden]) ~ :not([hidden]) {
      border-top-width: 1px;
      border-bottom-width: 0px;
}

    .number-input__control {
      flex-direction: column;
      inset-inline-end: 0px;
      position: absolute;
      z-index: 1;
      height: calc(100% - 2px);
      top: var(--spacing-0);
      width: var(--stepper-width);
}

    .number-input__incrementTrigger {
      flex: 1 1 0%;
      transition-property: var(--transition-prop, color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter);
      transition-timing-function: var(--transition-easing, cubic-bezier(0.4, 0, 0.2, 1));
      transition-duration: var(--transition-duration, 150ms);
      align-items: center;
      color: var(--colors-fg-muted);
      cursor: pointer;
      display: flex;
      justify-content: center;
      line-height: 1;
      -webkit-user-select: none;
      user-select: none;
      border-top-right-radius: var(--radii-l2);
}

    .number-input__incrementTrigger :where(svg) {
      width: 1em;
      height: 1em;
}

    .number-input__incrementTrigger:not(:disabled):hover {
      background: var(--colors-gray-surface-bg-hover);
}

    .number-input__incrementTrigger:not(:disabled):active {
      background: var(--colors-gray-surface-bg-active);
}

    .number-input__decrementTrigger {
      flex: 1 1 0%;
      transition-property: var(--transition-prop, color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter);
      transition-timing-function: var(--transition-easing, cubic-bezier(0.4, 0, 0.2, 1));
      transition-duration: var(--transition-duration, 150ms);
      align-items: center;
      color: var(--colors-fg-muted);
      cursor: pointer;
      display: flex;
      justify-content: center;
      line-height: 1;
      -webkit-user-select: none;
      user-select: none;
      border-bottom-right-radius: var(--radii-l2);
}

    .number-input__decrementTrigger :where(svg) {
      width: 1em;
      height: 1em;
}

    .number-input__decrementTrigger:not(:disabled):hover {
      background: var(--colors-gray-surface-bg-hover);
}

    .number-input__decrementTrigger:not(:disabled):active {
      background: var(--colors-gray-surface-bg-active);
}
}

  .number-input__input--size_md {
    --input-height: var(--sizes-10);
    padding-inline: var(--spacing-3);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
}

  .number-input__control--size_md {
    --stepper-width: var(--sizes-5);
}

  .number-input__input--variant_outline {
    border-width: 1px;
    border-color: var(--colors-gray-outline-border);
    --focus-ring-color: var(--focus-ring-color-prop, var(--global-color-focus-ring, #005FCC));
}

  .number-input__input--variant_outline:is(:focus-visible, [data-focus-visible]) {
    outline-offset: 0px;
    outline-width: var(--focus-ring-width, 1px);
    outline-color: var(--focus-ring-color);
    outline-style: var(--focus-ring-style, solid);
    border-color: var(--focus-ring-color);
}

  .number-input__input--variant_outline:is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--colors-error);
    --focus-ring-color-prop: var(--colors-error);
}

  .number-input__input--size_sm {
    --input-height: var(--sizes-9);
    padding-inline: var(--spacing-2\.5);
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
}

  .number-input__control--size_sm {
    --stepper-width: var(--sizes-4\.5);
}

  .number-input__input--size_lg {
    --input-height: var(--sizes-11);
    padding-inline: var(--spacing-3\.5);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
}

  .number-input__control--size_lg {
    --stepper-width: var(--sizes-5\.5);
}

  .number-input__input--size_xl {
    --input-height: var(--sizes-12);
    padding-inline: var(--spacing-4);
    font-size: var(--font-sizes-lg);
    line-height: 1.75rem;
}

  .number-input__control--size_xl {
    --stepper-width: var(--sizes-6);
}

  .number-input__input--variant_surface {
    background: var(--colors-gray-surface-bg);
    border-width: 1px;
    border-color: var(--colors-gray-surface-border);
    --focus-ring-color: var(--focus-ring-color-prop, var(--global-color-focus-ring, #005FCC));
}

  .number-input__input--variant_surface:is(:focus-visible, [data-focus-visible]) {
    outline-offset: 0px;
    outline-width: var(--focus-ring-width, 1px);
    outline-color: var(--focus-ring-color);
    outline-style: var(--focus-ring-style, solid);
    border-color: var(--focus-ring-color);
}

  .number-input__input--variant_surface:is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--colors-error);
    --focus-ring-color-prop: var(--colors-error);
}
}