@layer recipes.slots {
  @layer _base {
    .pin-input__input {
      border-radius: var(--radii-l2);
      outline: 0;
      transition-property: var(--transition-prop, color, background-color, border-color, outline-color, text-decoration-color, fill, stroke);
      transition-timing-function: var(--transition-easing, cubic-bezier(0.4, 0, 0.2, 1));
      transition-duration: var(--transition-duration, 150ms);
      padding-inline: var(--spacing-1) !important;
      appearance: none;
      -webkit-appearance: none;
      position: relative;
      text-align: center;
      height: var(--input-height);
      min-height: var(--input-height);
      min-width: var(--input-height);
      width: var(--input-height);
}

    .pin-input__input:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
      cursor: not-allowed;
      opacity: 0.67;
      filter: grayscale(100%);
}

    .pin-input__control {
      gap: var(--spacing-2);
      display: inline-flex;
      isolation: isolate;
}
}

  .pin-input__input--size_md {
    --input-height: var(--sizes-10);
    padding-inline: var(--spacing-3);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
}

  .pin-input__input--variant_outline {
    border-width: 1px;
    border-color: var(--colors-gray-outline-border);
    --focus-ring-color: var(--focus-ring-color-prop, var(--global-color-focus-ring, #005FCC));
}

  .pin-input__input--variant_outline:is(:focus-visible, [data-focus-visible]) {
    outline-offset: 0px;
    outline-width: var(--focus-ring-width, 1px);
    outline-color: var(--focus-ring-color);
    outline-style: var(--focus-ring-style, solid);
    border-color: var(--focus-ring-color);
}

  .pin-input__input--variant_outline:is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--colors-error);
    --focus-ring-color-prop: var(--colors-error);
}

  .pin-input__input--size_xs {
    --input-height: var(--sizes-8);
    padding-inline: var(--spacing-2);
}

  .pin-input__input--size_xs,.pin-input__input--size_sm {
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
}

  .pin-input__input--size_sm {
    --input-height: var(--sizes-9);
    padding-inline: var(--spacing-2\.5);
}

  .pin-input__input--size_lg {
    --input-height: var(--sizes-11);
    padding-inline: var(--spacing-3\.5);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
}

  .pin-input__input--size_xl {
    --input-height: var(--sizes-12);
    padding-inline: var(--spacing-4);
    font-size: var(--font-sizes-lg);
    line-height: 1.75rem;
}

  .pin-input__input--size_2xl {
    --input-height: var(--sizes-16);
    padding-inline: var(--spacing-4\.5);
    font-size: var(--font-sizes-3xl);
    line-height: 2.375rem;
}

  .pin-input__input--variant_subtle {
    background: var(--colors-gray-subtle-bg);
    border-width: 1px;
    border-color: transparent;
    color: var(--colors-gray-subtle-fg);
    --focus-ring-color: var(--focus-ring-color-prop, var(--global-color-focus-ring, #005FCC));
}

  .pin-input__input--variant_subtle:is(:focus-visible, [data-focus-visible]) {
    outline-offset: 0px;
    outline-width: var(--focus-ring-width, 1px);
    outline-color: var(--focus-ring-color);
    outline-style: var(--focus-ring-style, solid);
    border-color: var(--focus-ring-color);
}

  .pin-input__input--variant_subtle:is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--colors-error);
    --focus-ring-color-prop: var(--colors-error);
}

  .pin-input__input--variant_flushed {
    border-radius: 0;
    padding-inline: var(--spacing-0);
    color: var(--colors-fg-default);
    border-bottom-width: 1px;
    border-bottom-color: var(--colors-gray-outline-border);
}

  .pin-input__input--variant_flushed:is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--colors-error);
}

  .pin-input__input--variant_flushed:is(:focus, [data-focus]) {
    border-color: var(--colors-color-palette-solid-bg);
    --shadow-color: var(--colors-color-palette-solid-bg);
    box-shadow: 0 1px 0 0 var(--shadow-color);
}

  .pin-input__input--variant_flushed:is(:focus, [data-focus]):is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--colors-error);
    --shadow-color: var(--colors-error);
}
}