@layer recipes.slots {
  @layer _base {
    .radio-group__root {
      gap: var(--spacing-3);
      display: flex;
      flex-direction: column;
    }

    .radio-group__item {
      align-items: center;
      cursor: pointer;
      display: flex;
    }

    .radio-group__item:is(:disabled, [disabled], [data-disabled], [aria-disabled='true']) {
      cursor: not-allowed;
      opacity: 0.67;
      filter: grayscale(100%);
    }

    .radio-group__itemText {
      font-weight: var(--font-weights-medium);
      -webkit-user-select: none;
      user-select: none;
    }

    .radio-group__itemControl {
      border-radius: var(--radii-full);
      align-items: center;
      display: inline-flex;
      flex-shrink: 0;
      justify-content: center;
      vertical-align: top;
    }

    .radio-group__itemControl::after {
      border-radius: var(--radii-full);
      content: '';
      display: block;
      width: 40%;
      height: 40%;
    }

    .radio-group__itemControl:is(:focus-visible, [data-focus-visible]) {
      --focus-ring-color: var(--focus-ring-color-prop, var(--global-color-focus-ring, #005fcc));
    }

    .radio-group__itemControl:is(:focus-visible, [data-focus-visible]):is(:focus-visible, [data-focus-visible]) {
      outline-width: var(--focus-ring-width, 2px);
      outline-offset: var(--focus-ring-offset, 2px);
      outline-style: var(--focus-ring-style, solid);
      outline-color: var(--focus-ring-color);
    }
  }

  .radio-group__itemControl--variant_solid {
    box-shadow: inset 0 0 0 1px var(--shadow-color);
    --shadow-color: var(--colors-gray-surface-border);
  }

  .radio-group__itemControl--variant_solid:is(
    :checked,
    [data-checked],
    [data-state='checked'],
    [aria-checked='true'],
    [data-state='indeterminate']
  ) {
    background: var(--colors-color-palette-solid-bg);
    color: var(--colors-color-palette-solid-fg);
    --shadow-color: var(--colors-color-palette-solid-bg);
  }

  .radio-group__itemControl--variant_solid:is(
      :checked,
      [data-checked],
      [data-state='checked'],
      [aria-checked='true'],
      [data-state='indeterminate']
    )::after {
    background: var(--colors-color-palette-solid-fg);
  }

  .radio-group__item--size_md {
    gap: var(--spacing-3);
  }

  .radio-group__itemText--size_md {
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
  }

  .radio-group__itemControl--size_md {
    width: var(--sizes-5);
    height: var(--sizes-5);
  }

  .radio-group__item--size_sm {
    gap: var(--spacing-2);
  }

  .radio-group__itemText--size_sm {
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
  }

  .radio-group__itemControl--size_sm {
    width: var(--sizes-4\.5);
    height: var(--sizes-4\.5);
  }

  .radio-group__item--size_lg {
    gap: var(--spacing-3);
  }

  .radio-group__itemText--size_lg {
    font-size: var(--font-sizes-lg);
    line-height: 1.75rem;
  }

  .radio-group__itemControl--size_lg {
    width: var(--sizes-5\.5);
    height: var(--sizes-5\.5);
  }
}
