@layer recipes.slots {
  @layer _base {
    .rating-group__root {
      align-items: center;
      display: inline-flex;
      vertical-align: top;
    }

    .rating-group__label {
      font-weight: var(--font-weights-medium);
    }

    .rating-group__label,
    .rating-group__item {
      -webkit-user-select: none;
      user-select: none;
    }

    .rating-group__item {
      justify-content: center;
    }

    .rating-group__item,
    .rating-group__control {
      align-items: center;
      display: inline-flex;
    }

    .rating-group__control {
      gap: var(--spacing-0\.5);
    }

    .rating-group__itemIndicator {
      --clip-path: inset(0 50% 0 0);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    :where([dir='rtl'], :dir(rtl)) .rating-group__itemIndicator {
      --clip-path: inset(0 0 0 50%);
    }

    .rating-group__itemIndicator :where(svg) {
      stroke: currentColor;
      display: inline-block;
      flex-shrink: 0;
      position: absolute;
      width: inherit;
      height: inherit;
      left: var(--spacing-0);
      top: var(--spacing-0);
    }

    .rating-group__itemIndicator [data-bg] {
      color: var(--colors-gray-subtle-bg);
    }

    .rating-group__itemIndicator [data-fg] {
      color: transparent;
    }

    .rating-group__itemIndicator[data-highlighted]:not([data-half]) [data-fg],
    .rating-group__itemIndicator[data-half] [data-fg] {
      color: var(--colors-color-palette-solid-bg);
    }

    .rating-group__itemIndicator[data-half] [data-fg] {
      clip-path: var(--clip-path);
      -webkit-clip-path: var(--clip-path);
    }
  }

  .rating-group__root--size_md {
    gap: var(--spacing-3);
  }

  .rating-group__itemIndicator--size_md {
    width: var(--sizes-5);
    height: var(--sizes-5);
  }

  .rating-group__root--size_xs {
    gap: var(--spacing-2);
  }

  .rating-group__itemIndicator--size_xs {
    width: var(--sizes-4);
    height: var(--sizes-4);
  }

  .rating-group__root--size_sm {
    gap: var(--spacing-2);
  }

  .rating-group__itemIndicator--size_sm {
    width: var(--sizes-4\.5);
    height: var(--sizes-4\.5);
  }

  .rating-group__root--size_lg {
    gap: var(--spacing-3);
  }

  .rating-group__itemIndicator--size_lg {
    width: var(--sizes-5\.5);
    height: var(--sizes-5\.5);
  }

  .rating-group__root--size_xl {
    gap: var(--spacing-3);
  }

  .rating-group__itemIndicator--size_xl {
    width: var(--sizes-6);
    height: var(--sizes-6);
  }
}
