@layer recipes.slots {
  @layer _base {
    .scroll-area__root {
      --scrollbar-margin: 0px;
      --scrollbar-size: calc(var(--thumb-size) + calc(var(--scrollbar-margin) * 2));
      overflow: hidden;
      position: relative;
}

    .scroll-area__root,.scroll-area__viewport {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
}

    .scroll-area__viewport {
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
}

    .scroll-area__viewport::-webkit-scrollbar {
      display: none;
}

    .scroll-area__viewport[data-overflow-x] [data-pinned]::after {
      content: "";
      position: absolute;
      pointer-events: none;
      top: var(--spacing-0);
      bottom: -1px;
      width: 32px;
}

    .scroll-area__viewport[data-overflow-x]:not([data-at-left]) [data-pinned="left"]::after {
      inset-inline-end: var(--spacing-0);
      translate: 100% 0;
      box-shadow: var(--shadows-inset);
}

    .scroll-area__scrollbar {
      align-items: center;
      display: flex;
      position: relative;
      touch-action: none;
      -webkit-user-select: none;
      user-select: none;
      z-index: var(--z-index-overlay);
}

    .scroll-area__scrollbar[data-orientation=vertical] {
      padding-block: var(--scrollbar-margin);
      flex-direction: column;
      width: var(--scrollbar-size);
}

    .scroll-area__scrollbar[data-orientation=vertical]:not([data-overflow-y]) {
      display: none;
}

    .scroll-area__scrollbar[data-orientation=horizontal] {
      padding-inline: var(--scrollbar-margin);
      flex-direction: row;
      height: var(--scrollbar-size);
}

    .scroll-area__scrollbar[data-orientation=horizontal]:not([data-overflow-x]) {
      display: none;
}

    .scroll-area__thumb {
      background: var(--thumb-bg);
      border-radius: var(--radii-full);
      --transition-duration: var(--durations-normal);
      transition-duration: var(--durations-normal);
      --transition-prop: background, color, box-shadow;
      transition-property: background, color, box-shadow;
      --transition-easing: var(--easings-default);
      transition-timing-function: var(--easings-default);
}

    .scroll-area__thumb[data-orientation=vertical] {
      width: var(--thumb-size);
}

    .scroll-area__thumb[data-orientation=horizontal] {
      height: var(--thumb-size);
}
}

  .scroll-area__root--size_md {
    --thumb-size: var(--sizes-2);
}

  .scroll-area__scrollbar--scrollbar_auto[data-scrolling],.scroll-area__scrollbar--scrollbar_auto[data-hover] {
    --thumb-bg: var(--colors-gray-subtle-bg-active);
}

  .scroll-area__content--scrollbar_visible[data-overflow-y] {
    padding-inline-end: var(--scrollbar-size);
}

  .scroll-area__content--scrollbar_visible[data-overflow-x] {
    padding-bottom: var(--scrollbar-size);
}

  .scroll-area__scrollbar--scrollbar_visible {
    background: var(--colors-gray-subtle-bg);
    border-radius: var(--radii-full);
}

  .scroll-area__thumb--scrollbar_visible {
    --thumb-bg: var(--colors-gray-subtle-bg-active);
}

  .scroll-area__root--size_sm {
    --thumb-size: var(--sizes-1\.5);
}

  .scroll-area__root--size_xs {
    --thumb-size: var(--sizes-1);
}

  .scroll-area__root--size_lg {
    --thumb-size: var(--sizes-2\.5);
}
}