@layer recipes {
  .skeleton--variant_pulse {
    background: var(--colors-gray-subtle-bg-active);
    animation: var(--animations-pulse);
    animation-duration: var(--duration, 1.2s);
  }

  .skeleton--loading_true {
    border-radius: var(--radii-l2);
    box-shadow: none;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    cursor: default;
    color: transparent;
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    flex-shrink: 0;
  }

  .skeleton--loading_true::before,
  .skeleton--loading_true::after,
  .skeleton--loading_true * {
    visibility: hidden;
  }

  .skeleton--circle_true {
    flex: 0 0 auto;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skeleton--variant_shine {
    --animate-from: 200%;
    --animate-to: -200%;
    --start-color: var(--colors-gray-subtle-bg);
    --end-color: var(--colors-gray-subtle-bg-active);
    animation: bg-position var(--duration, 5s) ease-in-out infinite;
    background-image: linear-gradient(
      270deg,
      var(--start-color),
      var(--end-color),
      var(--end-color),
      var(--start-color)
    );
    background-size: 400% 100%;
  }

  .skeleton--loading_false {
    background: unset;
    animation: fade-in var(--fade-duration, 0.1s) ease-out !important;
  }

  .skeleton--variant_none {
    animation: none;
  }
}
