@layer recipes.slots {
  @layer _base {
    .tags-input__root {
      gap: var(--spacing-1\.5);
      display: flex;
      flex-direction: column;
      width: var(--sizes-full);
}

    .tags-input__label {
      font-size: var(--font-sizes-sm);
      line-height: 1.25rem;
      font-weight: var(--font-weights-medium);
}

    .tags-input__control {
      --focus-color: var(--colors-color-palette-solid-bg);
      --error-color: var(--colors-error);
      --input-height: var(--tags-input-height);
      padding-inline: var(--tags-input-px);
      border-radius: var(--radii-l2);
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      --transition-duration: var(--durations-normal);
      transition-duration: var(--durations-normal);
      --transition-prop: border-color, box-shadow;
      transition-property: border-color, box-shadow;
      min-height: var(--tags-input-height);
}

    .tags-input__control:is(:user-invalid, [data-invalid], [aria-invalid=true]) {
      border-color: var(--error-color);
}

    .tags-input__control:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
      opacity: 0.5;
}

    .tags-input__input {
      padding-inline: calc(var(--tags-input-item-px) / 1.25);
      flex: 1 1 0%;
      outline: var(--borders-none);
      height: var(--tags-input-item-height);
      min-width: var(--sizes-20);
}

    .tags-input__input:is(:read-only, [data-read-only], [aria-readonly=true]) {
      display: none;
}

    .tags-input__clearTrigger {
      border-radius: var(--radii-l1);
      width: calc(var(--tags-input-item-height) / 1.5);
      height: calc(var(--tags-input-item-height) / 1.5);
      align-items: center;
      color: var(--colors-fg-muted);
      display: flex;
      --focus-ring-width: 2px;
      --focus-ring-color: var(--focus-ring-color-prop, var(--global-color-focus-ring, #005FCC));
}

    .tags-input__clearTrigger:is(:focus-visible, [data-focus-visible]) {
      outline-offset: 0px;
      outline-width: var(--focus-ring-width, 1px);
      outline-color: var(--focus-ring-color);
      outline-style: var(--focus-ring-style, solid);
      border-color: var(--focus-ring-color);
}

    .tags-input__clearTrigger {
      justify-content: center;
      cursor: button;
}

    .tags-input__clearTrigger:is(:disabled, [disabled], [data-disabled], [aria-disabled=true]) {
      cursor: initial;
}

    .tags-input__clearTrigger :where(svg) {
      width: var(--sizes-5);
      height: var(--sizes-5);
}

    .tags-input__itemPreview {
      border-radius: var(--radii-l1);
      align-items: center;
      display: inline-flex;
      -webkit-user-select: none;
      user-select: none;
}

    .tags-input__itemPreview,.tags-input__itemInput {
      padding-inline: var(--tags-input-item-px);
      height: var(--tags-input-item-height);
}

    .tags-input__itemInput {
      outline: var(--borders-none);
      line-height: 1;
      vertical-align: middle;
      min-width: 2ch;
}

    .tags-input__itemText {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
}

    .tags-input__itemDeleteTrigger {
      border-radius: var(--radii-l1);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
}

    .tags-input__itemDeleteTrigger:not(:disabled):hover {
      background: var(--colors-color-palette-plain-bg-hover);
}
}

  .tags-input__root--size_md {
    --tags-input-height: var(--sizes-10);
    --tags-input-px: var(--spacing-1\.5);
    --tags-input-item-height: var(--sizes-7);
    --tags-input-item-px: var(--spacing-2);
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
}

  .tags-input__root--size_md :where(svg) {
    width: var(--sizes-3\.5);
    height: var(--sizes-3\.5);
}

  .tags-input__control--size_md {
    gap: var(--spacing-1\.5);
}

  .tags-input__itemPreview--size_md {
    gap: var(--spacing-1);
}

  .tags-input__itemDeleteTrigger--size_md {
    width: var(--sizes-5);
    height: var(--sizes-5);
    margin-inline-end: calc(var(--spacing-1) * -1);
}

  .tags-input__control--variant_outline {
    border-width: 1px;
}

  .tags-input__control--variant_outline:is(:focus, [data-focus]) {
    border-color: var(--focus-color);
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--focus-color);
}

  .tags-input__control--variant_outline:is(:focus, [data-focus]):is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--error-color);
    outline-color: var(--error-color);
}

  .tags-input__itemPreview--variant_outline {
    background: var(--colors-color-palette-subtle-bg);
    color: var(--colors-color-palette-subtle-fg);
}

  .tags-input__itemPreview--variant_outline[data-highlighted] {
    background: var(--colors-color-palette-subtle-bg-hover);
}

  .tags-input__control--variant_subtle {
    background: var(--colors-gray-subtle-bg);
    border-width: 1px;
    border-color: transparent;
    color: var(--colors-gray-subtle-fg);
}

  .tags-input__control--variant_subtle:is(:focus, [data-focus]) {
    border-color: var(--focus-color);
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--focus-color);
}

  .tags-input__control--variant_subtle:is(:focus, [data-focus]):is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--error-color);
    outline-color: var(--error-color);
}

  .tags-input__itemPreview--variant_subtle {
    background: var(--colors-gray-surface-bg);
    border-width: 1px;
}

  .tags-input__itemPreview--variant_subtle[data-highlighted] {
    background: var(--colors-gray-surface-bg-hover);
    border-color: var(--colors-gray-surface-border-hover);
}

  .tags-input__control--variant_surface {
    background: var(--colors-gray-surface-bg);
    border-width: 1px;
    border-color: var(--colors-gray-surface-border);
}

  .tags-input__control--variant_surface:is(:focus, [data-focus]) {
    border-color: var(--focus-color);
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--focus-color);
}

  .tags-input__control--variant_surface:is(:focus, [data-focus]):is(:user-invalid, [data-invalid], [aria-invalid=true]) {
    border-color: var(--error-color);
    outline-color: var(--error-color);
}

  .tags-input__itemPreview--variant_surface {
    background: var(--colors-color-palette-subtle-bg);
    color: var(--colors-color-palette-subtle-fg);
}

  .tags-input__itemPreview--variant_surface[data-highlighted] {
    background: var(--colors-color-palette-subtle-bg-hover);
}

  .tags-input__root--size_xs {
    --tags-input-height: var(--sizes-8);
    --tags-input-px: var(--spacing-1\.5);
    --tags-input-item-height: var(--sizes-5);
    --tags-input-item-px: var(--spacing-1);
    font-size: var(--font-sizes-xs);
    line-height: 1.125rem;
}

  .tags-input__root--size_xs :where(svg) {
    width: var(--sizes-3);
    height: var(--sizes-3);
}

  .tags-input__control--size_xs,.tags-input__itemPreview--size_xs {
    gap: var(--spacing-1);
}

  .tags-input__itemDeleteTrigger--size_xs {
    width: var(--sizes-3\.5);
    height: var(--sizes-3\.5);
    margin-inline-end: -1px;
}

  .tags-input__root--size_sm {
    --tags-input-height: var(--sizes-9);
    --tags-input-px: var(--spacing-1\.5);
    --tags-input-item-height: var(--sizes-6);
    --tags-input-item-px: var(--spacing-1\.5);
    font-size: var(--font-sizes-sm);
    line-height: 1.25rem;
}

  .tags-input__root--size_sm :where(svg) {
    width: var(--sizes-3\.5);
    height: var(--sizes-3\.5);
}

  .tags-input__control--size_sm,.tags-input__itemPreview--size_sm {
    gap: var(--spacing-1);
}

  .tags-input__itemDeleteTrigger--size_sm {
    width: var(--sizes-4\.5);
    height: var(--sizes-4\.5);
    margin-inline-end: calc(var(--spacing-0\.5) * -1);
}

  .tags-input__root--size_lg {
    --tags-input-height: var(--sizes-11);
    --tags-input-px: var(--spacing-1\.5);
    --tags-input-item-height: var(--sizes-8);
    --tags-input-item-px: var(--spacing-2\.5);
    font-size: var(--font-sizes-md);
    line-height: 1.5rem;
}

  .tags-input__root--size_lg :where(svg) {
    width: var(--sizes-4);
    height: var(--sizes-4);
}

  .tags-input__control--size_lg {
    gap: var(--spacing-1\.5);
}

  .tags-input__itemPreview--size_lg {
    gap: var(--spacing-1);
}

  .tags-input__itemDeleteTrigger--size_lg {
    width: var(--sizes-6);
    height: var(--sizes-6);
    margin-inline-end: calc(var(--spacing-1\.5) * -1);
}
}