[data-scope='pagination'][data-part='item'][data-selected] {
  background-color: aqua;
}

[data-scope='pagination'][data-part='prev-item'][data-disabled],
[data-scope='pagination'][data-part='next-item'][data-disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}
