.Root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;
  vertical-align: top;
  flex-shrink: 0;
  user-select: none;
  border-radius: 9999px;
  background: var(--coral-subtle);
  color: var(--coral-fg);
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.Image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.Fallback {
  border-radius: inherit;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: inherit;
}

