.Root {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.Legend {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--demo-neutral-fg);
  padding: 0;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
  &[data-disabled] {
    opacity: 0.5;
    filter: grayscale(100%);
  }
}

.HelperText {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--demo-neutral-emphasized);
  &[data-disabled] {
    opacity: 0.5;
    filter: grayscale(100%);
  }
}

.ErrorText {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--demo-coral-fg);
  &[data-disabled] {
    opacity: 0.5;
    filter: grayscale(100%);
  }
}
