.Root {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  width: 100%;
  max-width: 16rem;
}

.Label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--neutral-fg);
}

.ErrorText {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--coral-fg);
}

.HelperText {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--neutral-emphasized);
}
