.Trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.375rem;
  border: 1px solid var(--border);
  background-color: white;
  color: var(--neutral-fg);
  cursor: pointer;

  &:hover {
    background-color: var(--neutral-subtle);
  }
}

.Positioner {
  z-index: 1000;
}

.Content {
  background-color: var(--bg-popover);
  border-radius: 0.5rem;
  border: 1px solid var(--border);
  width: 100%;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  outline: none;

  &[data-topmost] {
    z-index: 999999;
  }

  &[data-behind] {
    opacity: 0.4;
  }
}

.Header {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--neutral-subtle);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.Title {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--neutral-fg);
  display: flex;
  align-items: center;
  gap: 0.5rem;

  svg {
    width: 1rem;
    height: 1rem;
    color: var(--neutral-solid);
  }
}

.Control {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.ControlButton {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  background-color: white;
  color: var(--neutral-fg);
  cursor: pointer;

  &:hover {
    background-color: var(--neutral-subtle);
  }

  svg {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.Body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  overflow: auto;
  flex: 1 1 auto;
  font-size: 0.875rem;
  color: var(--neutral-fg);
}

.ResizeTrigger {
  &[data-axis='n'],
  &[data-axis='s'] {
    height: 6px;
    max-width: 90%;
  }

  &[data-axis='e'],
  &[data-axis='w'] {
    width: 6px;
    max-height: 90%;
  }

  &[data-axis='ne'],
  &[data-axis='nw'],
  &[data-axis='se'],
  &[data-axis='sw'] {
    width: 10px;
    height: 10px;
  }
}
