/* Import shared utilities */
@import './utilities.css';

/* Base styles for Storybook environment */
body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#root,
#storybook-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
  isolation: isolate;
}
