@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import './utilities.css';

body {
  font-family:
    'Wix Madefor Text',
    system-ui,
    -apple-system,
    sans-serif;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font: inherit;
}

#root,
#storybook-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;
  isolation: isolate;
}
