.Root {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.Label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--neutral-fg);
}

.Control {
  display: inline-flex;
  gap: 0.5rem;
}

.Input {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.375rem;
  border: 1px solid var(--border);
  background-color: transparent;
  color: var(--neutral-fg);
  outline: none;

  &::placeholder {
    color: var(--neutral-solid);
  }

  &:focus-visible {
    border-color: var(--coral-solid);
    box-shadow: 0 0 0 1px var(--coral-solid);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[data-invalid] {
    border-color: var(--error);

    &:focus-visible {
      border-color: var(--error);
      box-shadow: 0 0 0 1px var(--error);
    }
  }
}
