.Root {
  --qr-code-size: 100px;
  --qr-code-overlay-size: calc(var(--qr-code-size) / 3);
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.Frame {
  width: var(--qr-code-size);
  height: var(--qr-code-size);
  fill: var(--neutral-fg);
}

.Pattern {
  fill: inherit;
}

.Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--qr-code-overlay-size);
  height: var(--qr-code-overlay-size);
  padding: 0.25rem;
  background: var(--bg-popover);
  border-radius: 0.25rem;
}

.Overlay img,
.Overlay svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.DownloadTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  min-width: 2rem;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.375rem;
  background: var(--neutral-subtle);
  color: var(--neutral-fg);
  cursor: pointer;
  border: none;
  transition:
    background 0.2s,
    color 0.2s;

  &:hover {
    background: var(--neutral-emphasized);
    color: white;
  }
}
