[data-scope='accordion'][data-part='item-indicator'][data-state='open'] {
  rotate: 90deg;
}

[data-scope='accordion'][data-part='item-trigger'] {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

[data-scope='accordion'][data-part='item-trigger'] svg {
  width: 1em;
  height: 1em;
}
