---
import { Container, Stack } from '../../panda/jsx'
import Hero from '../components/marketing/Hero.astro'
import LogoSection from '../components/marketing/LogoSection.astro'
import { Button } from '../components/shared/Button'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <Container py="8">
    <Stack gap="3">
      <Stack direction="row" gap="3">
        <Button size="lg" variant="primary">Primary</Button>
        <Button size="lg" variant="secondary">Secondary</Button>
        <Button size="lg" variant="tertiary">Tertiary</Button>
      </Stack>
      <Stack direction="row" gap="3">
        <Button size="xl" variant="primary">Primary</Button>
        <Button size="xl" variant="secondary">Secondary</Button>
        <Button size="xl" variant="tertiary">Tertiary</Button>
      </Stack>
      <Stack direction="row" gap="3">
        <Button size="2xl" variant="primary">Primary</Button>
        <Button size="2xl" variant="secondary">Secondary</Button>
        <Button size="2xl" variant="tertiary">Tertiary</Button>
      </Stack>
    </Stack>
  </Container>
  <Hero />
  <LogoSection />
</BaseLayout>
