---
import { Basic } from '../components/pin-input/pin-input.solid';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Solid Accordion</h1>
    <Basic client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
