---
import { ReactCheckbox } from '../components/checkbox/checkbox.react';
import { ReactNumberInput } from '../components/number-input/number-input.react';
import { Basic as BasicTabs } from '../components/tabs/tabs.react';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <ReactNumberInput client:load  />
    <ReactCheckbox client:load />
    <BasicTabs client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
