.table-of-contents__link--active {
  font-weight: bold;
}

.table-of-contents__left-border {
  border: none;
}

.table-of-contents__header {
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  padding-left: 1rem;
}

.table-of-contents__wrapper {
  padding: 2.5rem 0;
}
