---
import { Container } from '../../panda/jsx'
---

<footer>
  <Container>
    <p>
      Learn more about Ark UI on <a href="https://github.com/chakra-ui/ark/">GitHub</a>!
    </p>
  </Container>
</footer>
