---
import { css } from '../../panda/css'
import { Box, Container, HStack, Stack } from '../../panda/jsx'
import Logo from './Logo.astro'
import { Link } from './shared/Link'
import ThemeIcon from './ThemeIcon.astro'
---

<nav
  role="navigation"
  class={css({
    position: 'sticky',
    top: '0',
    background: 'bg.canvas',
    borderBottomWidth: '1px',
  })}
>
  <Container className={css({ minH: '68px', display: 'flex' })}>
    <HStack justify="space-between" flex="1">
      <Link href="/" aria-label="Back home">
        <Logo />
      </Link>
      <Box bg="bg.subtle" borderWidth="1px" h="9" width="320px" borderRadius="sm" />
      <ThemeIcon />
    </HStack>
  </Container>
</nav>
