---
import type { MarkdownHeading } from 'astro'
import { Box, Stack } from 'styled-system/jsx'
import { link } from 'styled-system/recipes'
import { Typography } from '../ui/typography'

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<Box
  display={{ base: 'none', xl: 'flex' }}
  position="fixed"
  width="48"
  top="28"
  right="max(0px, calc(100vw / 2 - 616px))"
>
  <Stack gap="4">
    <Typography textStyle="sm" fontWeight="bold">On This Page</Typography>
    <Stack>
      {
        headings.map((heading) => (
          <a href={`#${heading.slug}`} class={link({ variant: 'toc' })}>
            {heading.text}
          </a>
        ))
      }
    </Stack>
  </Stack>
</Box>
