---
import { ArrowLeft, ArrowRight } from 'lucide-react'
import { HStack, Stack } from 'styled-system/jsx'
import { button } from 'styled-system/recipes'
import { Text } from '~/components/ui'
import { getNextPage, getPreviousPage } from '~/lib/page-control'

const prevPage = await getPreviousPage(Astro.params.slug)
const nextPage = await getNextPage(Astro.params.slug)
---

<Stack gap="6">
  <HStack justify="space-between">
    {
      prevPage && (
        <Stack gap="3">
          <Text color="fg.subtle" fontWeight="semibold" textStyle="sm">
            Previous
          </Text>
          <a href={prevPage.href} class={button({ variant: 'link', size: 'lg' })}>
            <ArrowLeft /> {prevPage.name}
          </a>
        </Stack>
      )
    }
    {
      nextPage && (
        <Stack gap="3" style={{ marginLeft: 'auto' }}>
          <Text color="fg.subtle" fontWeight="semibold" textStyle="sm">
            Next
          </Text>
          <a href={nextPage.href} class={button({ variant: 'link', size: 'lg' })}>
            {nextPage.name} <ArrowRight />
          </a>
        </Stack>
      )
    }
  </HStack>
</Stack>
