---
import { css } from 'styled-system/css'
import { Box, Container, HStack } from 'styled-system/jsx'
import ColorModeButton from '~/components/color-mode-button.astro'
import { Logo } from '~/components/logo'
import Breadcrumbs from './breadcrumbs.astro'
import { MobileSidebarContainer } from './mobile-sidebar-container'
import Sidebar from './sidebar/sidebar.astro'
---

<nav
  role="navigation"
  class={css({
    position: 'sticky',
    top: '0',
    zIndex: 'sticky',
    bg: 'bg.default',
   
    borderBottomWidth: '1px',
  })}
>
  <Box position="relative" >
    <Container>
      <HStack justify="space-between" py={{ base: '3', md: '5' }} gap="8">
        <HStack gap="10">
          <a href="/" aria-label="Back to Home">
            <Logo height="28" />
          </a>
        </HStack>
        <ColorModeButton />
      </HStack>
    </Container>
    <Box borderTopWidth="1px" display={{ base: 'block', md: 'none' }}>
      <Container py="1">
        <HStack gap="2">
          <MobileSidebarContainer client:load>
            <Sidebar />
          </MobileSidebarContainer>
          <Breadcrumbs />
        </HStack>
      </Container>
    </Box>
  </Box>
</nav>
