[data-scope='signature-pad'][data-part='root'] {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
}

[data-scope='signature-pad'][data-part='label'] {
  display: inline-block;
  margin-block-end: 8px;
}

[data-scope='signature-pad'][data-part='control'] {
  height: 120px;
  background-color: #efefef;
  border-radius: 8px;
}

[data-scope='signature-pad'][data-part='guide'] {
  position: absolute;
  bottom: 12%;
  left: 8px;
  right: 8px;
  border-bottom: 1px dashed #2f2f2f;
}

[data-scope='signature-pad'][data-part='clear-trigger'] {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
