[data-scope='slider'][data-part='control'] {
  position: relative;
  align-items: center;
  display: flex;
}

[data-scope='slider'][data-part='control'][data-orientation='vertical'] {
  height: 20rem;
  width: 8px;
  flex-direction: column;
}

[data-scope='slider'][data-part='track'] {
  background: silver;
  height: 8px;
  flex: 1;
}

[data-scope='slider'][data-part='track'][data-orientation='horizontal'] {
  height: 8px;
}

[data-scope='slider'][data-part='track'][data-orientation='vertical'] {
  width: 8px;
}

[data-scope='slider'][data-part='range'] {
  background: orange;
}

[data-scope='slider'][data-part='range'][data-orientation='horizontal'] {
  height: inherit;
}

[data-scope='slider'][data-part='range'][data-orientation='vertical'] {
  width: inherit;
}

[data-scope='slider'][data-part='thumb'] {
  background: blue;
  width: 20px;
  height: 20px;
}

[data-scope='slider'][data-part='marker-group'] {
  height: 10rem;
}

[data-scope='slider'][data-part='marker'] {
  color: gray;
}

[data-scope='slider'][data-part='marker'][data-state='under-value'] {
  color: blue;
}

[data-scope='slider'][data-part='marker'][data-state='at-value'] {
  color: green;
}

[data-scope='slider'][data-part='marker'][data-state='over-value'] {
  color: red;
}
