---
import { css, cx } from 'styled-system/css'
import { button } from 'styled-system/recipes'
---

<button id="themeToggle" class={cx(css({ px: '0' }), button({ variant: 'ghost', size: 'md' }))} aria-label="Toggle color scheme">
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <circle class="sun" cx="12" cy="12" r="4"></circle>
    <path class="sun" d="M12 2v2"></path>
    <path class="sun" d="M12 20v2"></path>
    <path class="sun" d="m4.93 4.93 1.41 1.41"></path>
    <path class="sun" d="m17.66 17.66 1.41 1.41"></path>
    <path class="sun" d="M2 12h2"></path>
    <path class="sun" d="M20 12h2"></path>
    <path class="sun" d="m6.34 17.66-1.41 1.41"></path>
    <path class="sun" d="m19.07 4.93-1.41 1.41"></path>

    <path class="moon" d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
  </svg>
</button>

<style>
  .sun {
    fill: black;
  }
  .moon {
    stroke: transparent;
  }

  :global(.dark) .sun {
    fill: transparent;
    stroke: transparent;
  }
  :global(.dark) .moon {
    stroke: white;
  }
</style>

<script is:inline>
  const registerColorModeToggle = () => {
    document.getElementById('themeToggle').addEventListener('click', () => {
      const classList = document.documentElement.classList
      classList.toggle('dark')
      const isDark = classList.contains('dark')
      localStorage.setItem('ark-ui-color-mode', isDark ? 'dark' : 'light')
    })
  }

  // Runs on initial navigation
  registerColorModeToggle()

  // Runs on view transitions navigation
  document.addEventListener('astro:after-swap', registerColorModeToggle)
</script>
