@keyframes slideDown {
  from {
    opacity: 0.01;
    height: 0;
  }
  to {
    opacity: 1;
    height: var(--height);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    height: var(--height);
  }
  to {
    opacity: 0.01;
    height: 0;
  }
}

[data-scope='accordion'][data-part='item-indicator'][data-state='open'] {
  rotate: 90deg;
}

[data-scope='accordion'][data-part='item-trigger'] {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

[data-scope='accordion'][data-part='item-trigger'] svg {
  width: 1em;
  height: 1em;
}

[data-scope='accordion'][data-part='item-content'] {
  overflow: hidden;
  max-width: 400px;
  background-color: cadetblue;
  color: white;
}

[data-scope='accordion'][data-part='item-content'][data-state='open'] {
  animation: slideDown 250ms cubic-bezier(0, 0, 0.38, 0.9);
}

[data-scope='accordion'][data-part='item-content'][data-state='closed'] {
  animation: slideUp 200ms cubic-bezier(0, 0, 0.38, 0.9);
}
